@model IEnumerable<ConferenceApp.Models.ConferenceUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista użytkowników konferencji</h1>
<hr />

<p>
    <a asp-action="Register" class="btn btn-outline-dark"><i class="far fa-plus-square" style="color:black"></i> Rejestracja</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceType)
            </td>
            <td>
                <div class="thumbnail">
                    <img src="@Url.Content("/images/"+item.Photo)" alt="brak zdjęcia" class="img-thumbnail w-50" />
                </div>
            </td>
            <td>
                <a asp-action="Register" asp-route-id="@item.UserID"><i class="fa fa-edit fa-lg" style="color:black"></i></a>
                <a asp-action="Delete" asp-route-id="@item.UserID" class="text-danger ml-1" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')"><i class="fa fa-trash fa-lg" style="color:black;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
